.video-content-container {
    /* background: orange; */
}

.video-wrap {
    /* width: 95%; */
    /* margin: 10px auto; */
    overflow: auto;
    background: #121212;
}

.selected-video {
    /* position: relative; */
}

.selected-video__aspect-ratio {
    width: 100%;
}

.selected-video__aspect-ratio iframe {
    width: 100%;
    border: none;
    height: 56.25vw; /* 100/56.25 = 560/315 = 1.778 */
}

.selected-video-info {
    padding: 0 10px;
    margin: 10px 0;
}

.selected-video-info__paragraph {
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

.selected-video-info-header {
    position: relative;
}

.selected-video-info-header__title {
    width: 85%;
}

.selected-video-info-header__toggle {
    position: absolute;
    top: 0;
    right: 0;
}

.selected-video-info-user-actions {
    padding: 8px 5px;
    text-align: right;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin: 10px 0;
    color: grey;
}

.selected-video-info__description {
    margin: 10px 0;
    font-size: 15px;
}

.selected-video-info--display {
    display: block;
}

.selected-video-info--display .selected-video-info-header__toggle {
    transform: rotate(180deg);
}

.selected-video-info--hide .selected-video-info__description {
    display: none;
}

.selected-video-info-header__publish-date {
    margin: 8px 0;
}

.videos-list__item {
    margin: 10px 0;
}

.videos-list__link {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 10px;
}

.videos-list__thumbnail {
    width: 50%;
}

.videos-list__title {
    font-size: 14px;
    width: 48%;
}
