.video-content-container {
    /* background: orange; */
}

.video-wrap {
    /* width: 95%; */
    /* margin: 10px auto; */
}

.selected-video {
    /* position: relative; */
}

.selected-video__aspect-ratio {
    width: 100%;
}

.selected-video__aspect-ratio iframe {
    width: 100%;
    border: none;
    height: 56.25vw; /* 100/56.25 = 560/315 = 1.778 */
}

.selected-video__description {
    padding: 0 10px;
    margin: 10px 0;
}
