* {
  box-sizing: border-box;
}

h2, p {
  margin: 0;
}

body {
  background: yellow;
}

#app {
  width: 100%;
}

.container {
  background: blue;
  width: 95%;
  margin: 0 auto;
}

.search-bar {
  background: green;
  text-align: center;
  padding: .7em 0;
  input {
    padding: .2em;
    width: 50%;
    max-width: 582px;
  }
}

.selected-video {
  background: red;
  position: relative;
  iframe {
    width: 100%;
    height: 56.25vw; /* 100/56.25 = 560/315 = 1.778 */
    border: none;
  }
}

.video-list-item {
  background: orange;
  margin: .5em 0;
  &:hover {
    cursor: pointer;
    color: blue;
  }

  .video-information {
    background: green;
    width: 70%;
    font-size: .7em;
    padding-left: 1em;
  }
  .video-thumbnail {
    width: 30%;
  }
  .video-thumbnail,
  .video-information {
    float: left;
  }
}


.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
