// variables
$light-grey: #E8E8E8;
$lightGreyBorder: 1.3px solid $light-grey;
$darkBlue: #3449BD;
$breakPoint: 660px;

// mixins
@mixin mediaQuery ($pixels) {
  @media screen and (min-width: $pixels) {
    @content;
  }
}

@mixin positioning($position, $top, $right, $bottom, $left, $z-index) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $z-index;
}

@mixin flexBox($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin horizontalCenter($vertical) {
  margin: $vertical auto;
}

* {
  box-sizing: border-box;
}

h2, h3, p {
  margin: 0;
}

body {
  background: $light-grey;
}

#app {
  width: 100%;
  padding-top: 4.665em;
}

.container,
.search-bar,
.fa-search {
  @include horizontalCenter(0);
}

.container {
  width: 95%;
  max-width: 1600px;
}

.search-bar {
  @include positioning(fixed, 0, 0, 0, 0, 10);
  @include flexBox(center, center);
  max-width: 1600px;
  width: 100%;
  height: 4.165em;
  padding: .5em;

  background: white;
  text-align: center;

  border-bottom: $lightGreyBorder;

  form {
    @include mediaQuery($breakPoint) {
      text-align: center;
    }
  }

  .logo-link {
    width: 12%;
    max-width: 65.39px;
    display: block;
    .logo {
      width: 100%;
      margin: 0;
      display: block;
    }
  } // end .logo-link

  .form-box {
    width: 88%;
    display: block;
    text-align: right;
  }

  .logo-link,
  .form-box {
    float: left;
  }

  input[type="text"],
  button {
    padding: .5em;
    height: 2em;
    font-size: 1em;
    border: $lightGreyBorder;
  }

  input[type="text"] {
    width: 50%;
    max-width: 582px;
    display: inline-block;
    vertical-align: top;
    border-right: none;
    box-shadow: inset 0px .5px 1px rgba(0,0,0,0.2);
    &:focus {
      outline: none;
      border: 1px solid $darkBlue;
    }
  }

  button {
    font-weight: 100;
    color: darken($light-grey, 50%);
    width: 40px;
    background: lighten($light-grey, 3%);
    position: relative;

    .fa-search {
      @include positioning(absolute, 50%, 0, inherit, 0, 1);
      transform: translateY(-50%);
    }
    &:focus {
      outline: none;
    }
  } // end button

} // end .search-bar

.main-box {

  @include mediaQuery($breakPoint) {
    max-width: 81.25em; /*1300px / 16em*/
    @include horizontalCenter(0);
  }

  .selected-video,
  .videos {
    @include mediaQuery($breakPoint) {
      float: left;
    }
  }
} // end .main-box

.selected-video {
  position: relative;

  .aspect-ratio {
    @include mediaQuery($breakPoint) {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 51%;
    }
    iframe {
      width: 100%;
      height: 56.25vw; /* 100/56.25 = 560/315 = 1.778 */
      border: none;
      @include mediaQuery($breakPoint){
        @include positioning(absolute, 0, inherit, inherit, 0, 1);
        // position: absolute;
        height: 100%;
        // left: 0; top: 0;
      }
    } // end iframe
  } // end .aspect-ratio


  .video-description {
    background: white;
    margin: .3em 0;
    padding: .8em;
    @include mediaQuery($breakPoint) {
      margin-top: .5em;
    }

    h3,
    .publish-date,
    .description {
      margin: .5em 0;
    }

    .publish-date,
    .description { font-size: .8em; }

    h3 {
      font-size: 1.2em;
    }

    .publish-date {
      font-weight: bold;
    }
  } // end .video-description

  @include mediaQuery($breakPoint) {
    width: 60%;
    padding-right: .5em;
  }
} // end .selected-video

// ul
.videos {
  padding: .8em;
  background: white;
  margin: .5em 0;
  @include mediaQuery($breakPoint) {
    margin: 0;
    width: 40%;
  }
}

.video-list-item {
  // background: orange;
  margin: .5em 0;
  transition: all .3s;
  &:hover {
    cursor: pointer;
    color: #4460F7;
  }

  .video-title {
    // background: green;
    width: 70%;
    font-size: .8em;
    padding-left: 1em;
  }
  .video-thumbnail {
    width: 30%;
  }
  .video-thumbnail,
  .video-title {
    float: left;
  } // end .video-title
}

.videos,
.search-bar,
.video-description {
  box-shadow: 0px 1px 7px rgba(0,0,0,0.2);
}


.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
