* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h2, h3, p {
  margin: 0;
}

body {
  background: #E8E8E8;
  font-family: 'Roboto', sans-serif;
}

#app {
  width: 100%;
  padding-top: 4.665em;
}

.container,
.search-bar,
.fa-search {
  margin: 0 auto;
}

.container {
  width: 95%;
  max-width: 1600px;
}

.search-bar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1600px;
  width: 100%;
  height: 4.165em;
  padding: .5em;
  background: white;
  text-align: center;
  border-bottom: 1.3px solid #E8E8E8;
}

@media screen and (min-width: 660px) {
  .search-bar form {
    text-align: center;
  }
}

.search-bar .logo-link {
  width: 12%;
  max-width: 65.39px;
  display: block;
}

.search-bar .logo-link:focus {
  outline: none;
}

.search-bar .logo-link .logo {
  width: 100%;
  margin: 0;
  display: block;
}

.search-bar .form-box {
  width: 88%;
  display: block;
  text-align: right;
}

.search-bar .logo-link,
.search-bar .form-box {
  float: left;
}

.search-bar input[type="text"],
.search-bar button {
  padding: .5em;
  height: 2em;
  font-size: 1em;
  border: 1.3px solid #E8E8E8;
}

@media screen and (min-width: 1000px) {
  .search-bar input[type="text"],
  .search-bar button {
    font-size: 1.12em;
  }
}

.search-bar input[type="text"] {
  width: 50%;
  max-width: 582px;
  display: inline-block;
  vertical-align: top;
  border-right: none;
  -webkit-box-shadow: inset 0px 0.5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0.5px 1px rgba(0, 0, 0, 0.2);
}

.search-bar input[type="text"]:focus {
  outline: none;
  border: 1px solid #3449BD;
}

.search-bar button {
  font-weight: 100;
  color: dimgray;
  width: 40px;
  background: #f0f0f0;
  position: relative;
}

.search-bar button .fa-search {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: inherit;
  left: 0;
  z-index: 1;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.search-bar button:focus {
  outline: none;
}

@media screen and (min-width: 660px) {
  .main-box {
    max-width: 81.25em;
    /*1300px / 16em*/
    margin: 0 auto;
  }
}

@media screen and (min-width: 660px) {
  .main-box .selected-video,
  .main-box .videos {
    float: left;
  }
}

.selected-video {
  position: relative;
}

@media screen and (min-width: 660px) {
  .selected-video .aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 51%;
  }
}

.selected-video .aspect-ratio iframe {
  width: 100%;
  height: 56.25vw;
  /* 100/56.25 = 560/315 = 1.778 */
  border: none;
}

@media screen and (min-width: 660px) {
  .selected-video .aspect-ratio iframe {
    position: absolute;
    top: 0;
    right: inherit;
    bottom: inherit;
    left: 0;
    z-index: 1;
    height: 100%;
  }
}

.selected-video .video-description {
  background: white;
  margin: .3em 0;
  padding: .8em;
}

@media screen and (min-width: 660px) {
  .selected-video .video-description {
    margin-top: .5em;
  }
}

.selected-video .video-description h3,
.selected-video .video-description .publish-date,
.selected-video .video-description .description {
  margin: .5em 0;
}

.selected-video .video-description .publish-date,
.selected-video .video-description .description {
  font-size: .8em;
}

@media screen and (min-width: 1000px) {
  .selected-video .video-description .publish-date,
  .selected-video .video-description .description {
    font-size: 1em;
  }
}

.selected-video .video-description h3 {
  font-size: 1.2em;
}

@media screen and (min-width: 1000px) {
  .selected-video .video-description h3 {
    font-size: 1.5em;
  }
}

.selected-video .video-description .publish-date {
  font-weight: 500;
}

@media screen and (min-width: 660px) {
  .selected-video {
    width: 60%;
    padding-right: .5em;
  }
}

.videos {
  padding: .8em;
  background: white;
  margin: .5em 0;
}

@media screen and (min-width: 660px) {
  .videos {
    margin: 0;
    width: 40%;
  }
}

.video-list-item {
  margin: .5em 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.video-list-item:hover {
  cursor: pointer;
  color: #4460F7;
}

.video-list-item .video-title {
  width: 70%;
  font-size: .8em;
  padding-left: 1em;
}

@media screen and (min-width: 1000px) {
  .video-list-item .video-title {
    font-size: 1em;
  }
}

.video-list-item .video-thumbnail {
  width: 30%;
}

.video-list-item .video-thumbnail,
.video-list-item .video-title {
  float: left;
}

.videos,
.search-bar,
.video-description {
  -webkit-box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.2);
}

.loader {
  border: 5px solid #9c9c9c;
  border-top: 5px solid #cfcfcf;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
