* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h2, h3, p {
  margin: 0;
}

body {
  background: #E8E8E8;
}

#app {
  width: 100%;
}

.container {
  width: 95%;
  margin: 0 auto;
  margin-top: 60px;
}

.search-bar {
  background: white;
  text-align: center;
  padding: .7em 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.search-bar input {
  padding: .2em;
  width: 50%;
  max-width: 582px;
}

.selected-video {
  position: relative;
}

.selected-video iframe {
  width: 100%;
  height: 56.25vw;
  /* 100/56.25 = 560/315 = 1.778 */
  border: none;
}

.selected-video .video-description {
  background: white;
  margin: .3em 0;
  padding: .8em;
}

ul {
  padding: .8em;
  background: white;
  margin: .3em 0;
}

.video-list-item {
  background: orange;
  margin: .5em 0;
}

.video-list-item:hover {
  cursor: pointer;
  color: blue;
}

.video-list-item .video-title {
  background: green;
  width: 70%;
  font-size: .7em;
  padding-left: 1em;
}

.video-list-item .video-thumbnail {
  width: 30%;
}

.video-list-item .video-thumbnail,
.video-list-item .video-title {
  float: left;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
